# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Python Cache
__pycache__
*.py[cod]

# script out
scripts/out/
scripts/out/*
scripts/cache/
scripts/cache/*
